@use "sass:math";

@import "styles/custom-bootstrap-variables"; //custom styles variables
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "styles/mixins";
@import "../../node_modules/swiper/swiper-bundle";
@import "../../node_modules/select2/src/scss/core";

@import "../../node_modules/plyr/src/sass/plyr";
// @import "../../node_modules/select2/src/scss/core";
// @import "styles/air-datepicker";
// @import "styles/fancybox"; //@import "@fancyapps/ui/dist/fancybox/fancybox.css";

// @import "styles/fastselect"; //@import "/node_modules/fastselect/dist/fastselect.css";
// @import "../../node_modules/flatpickr/dist/flatpickr";
// @import "styles/air-datepicker";

//? відступи
.container {
	@each $breakpoint, $gutter in $grid-gutter-widths {
		@include media-breakpoint-only($breakpoint) {
			@include make-container($gutter);
		}
	}
}
.row {
	@each $breakpoint, $gutter in $grid-gutter-widths {
		@include media-breakpoint-only($breakpoint) {
			@include make-row($gutter);
		}
	}
	.row > .col,
	.row > [class*="col-"] {
		@each $breakpoint, $gutter in $grid-gutter-widths {
			@include media-breakpoint-only($breakpoint) {
				@include make-col-ready($gutter);
			}
		}
	}
}
.no-gutters {
	margin-right: 0 !important;
	margin-left: 0 !important;
	.col,
	[class*="col-"] {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

@include xxl-min {
	.row .col-xxl-auto,
	.row .row .col-xxl-auto {
		width: auto;
	}
}
@include xl-min {
	.row .col-xl-auto,
	.row .row > .col-xl-auto {
		width: auto;
	}
}
@include lg-min {
	.row .col-lg-auto,
	.row .row > .col-lg-auto {
		width: auto;
	}
}
@include md-min {
	.row .col-md-auto,
	.row .row > .col-md-auto {
		width: auto;
	}
}
@include sm-min {
	.row .col-sm-auto,
	.row .row .col-sm-auto {
		width: auto;
	}
}
@include xs-min {
	.row .col-auto,
	.row .row .col-auto {
		width: auto;
	}
}
