.section-top {
	.backdrop {
		position: relative;
		height: 100%;
		@include md-max {
			min-height: 400px;
			display: flex;
			align-items: end;
		}
		&::before {
			content: "";
			display: block;
			width: 75%;
			height: 125%;
			position: absolute;
			left: -125px;
			top: 125px;
			background: $blue;
			filter: blur(85px);
			@include lg-max {
				width: 95%;
			}
			@include md-max {
				width: 85%;
			}
			@include sm-max {
				width: 75%;
				top: 45px;
			}
			@include xs-max {
				width: 100%;
			}
		}
		.content {
			position: relative;
			z-index: 2;
			width: 95%;
			@include sm-max {
				width: 85%;
			}
		}
	}
	.backdrop-small {
		min-height: 275px;
		@include sm-max {
			min-height: 160px;
		}
	}
	.buttons {
		column-gap: 10px;
		row-gap: 15px;
		.btn {
			@include xl-max {
				width: 100%;
			}
		}
	}
}

.section-top--backdrop-swiper {
	.swiper-slide {
		.backdrop {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: start;
		}
	}
	.swiper-pagination {
		position: absolute;
		justify-content: end;
		bottom: 24px !important;
		padding-right: 24px;
		@include md-max {
			padding-right: 18px;
			bottom: 18px !important;
		}
	}
}

.section-top-3 {
	.backdrop {
		&::before {
			content: unset;
		}
	}
}
.section-top-4 {
	.backdrop {
		@include lg-min {
			min-height: 510px;
			display: flex;
			align-items: end;
		}
		&::before {
			@include lg-min {
				width: 55%;
				top: 200px;
				filter: blur(105px);
			}
		}
	}
}
.section-top-5 {
	.backdrop {
		@include lg-min {
			min-height: 510px;
			display: flex;
			align-items: end;
		}
		@include sm-max {
			min-height: 480px;
			height: 50vh;
		}
		@include xs-max {
			min-height: 400px;
		}
		&::before {
			@include lg-min {
				width: 55%;
				top: 200px;
				filter: blur(105px);
			}
		}
	}
}

.section-progress {
	.section-progress--item {
		min-height: 230px;
		height: 100%;
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&.item-small {
			@include md-max {
				min-height: 150px;
				text-align: center;
			}
		}
	}
}

.shares {
	.shares-list {
		.shares--item {
			@include xl-min {
				&:hover {
					.inner {
						background: transparent;
						.h3 {
							color: $blue;
						}
					}
				}
			}
		}
	}
	.shares--item {
		@include xl-min {
			&:hover {
				.inner {
					background: $blue;
					.h3 {
						color: $white;
						div {
							display: contents;
						}
					}
					.underline {
						text-decoration: underline;
						font-weight: 900;
					}
					.wrap-img {
						img {
							scale: 1.25;
						}
					}
				}
			}
		}
		&.content-item {
			.inner {
				padding: 0;
				border-radius: 0;
			}
		}
		.inner {
			padding: 24px;
			border-radius: 24px;
			display: block;
			background: transparent;
			@include transition(0.3s ease-out 0s);
			@include lg-max {
				padding: 0px;
				border-radius: 0;
			}
			.wrap-img {
				border-radius: 32px;
				height: 335px;
				overflow: hidden;
				@include md-max {
					border-radius: 24px;
				}
				img {
					@include transition(0.3s ease-out 0s);
				}
			}
			.h3 {
				font-weight: 600;
				@include transition(0.3s ease-out 0s);
				div {
					display: contents;
				}
			}
		}
	}
	.shares-list {
		row-gap: 25px;
	}
}

.shares-top {
	.backdrop {
		position: relative;
		@include lg-max {
			height: 400px;
			display: flex;
			align-items: end;
		}
		&::before {
			content: "";
			display: block;
			width: 65%;
			height: 150%;
			position: absolute;
			left: -120px;
			top: 30px;
			background: $blue;
			filter: blur(75px);
			border-radius: 30%;
			@include sm-max {
				width: 85%;
			}
			@include xs-max {
				width: 100%;
			}
		}
		.content {
			position: relative;
			z-index: 2;
		}
	}
	.backdrop-small {
		min-height: 575px;
		@include lg-max {
			height: auto;
			min-height: 180px;
		}
	}
}

.about-us {
	.content {
		position: relative;
		z-index: 2;
	}
	.wrap-img {
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 55%;
			height: 100%;
			border-radius: 0 50% 50% 0;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			@include lg-max {
				width: 100%;
			}
			@include md-max {
				width: 200%;
				left: -35%;
			}
		}
		&::before {
			background: linear-gradient(90deg, $blue 10%, rgba(43, 45, 130, 0) 65%);
		}
		&::after {
			background: $blue;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			filter: blur(700px);
		}
	}
}
.about-us--laboratory {
	.btn {
		@include sm-max {
			width: 100%;
		}
	}
}

.doctors {
	.doctors--item {
		@include xl-min {
			&:hover {
				.inner {
					.wrap-img {
						img {
							scale: 1.25;
						}
					}
				}
			}
		}
		.inner {
			display: block;
			.wrap-img {
				border-radius: 24px;
				height: 300px;
				overflow: hidden;
				img {
					@include transition(0.3s ease-out 0s);
				}
			}
			.experience-quantity {
				font-size: 14px;
				font-weight: 500;
				line-height: 140%;
				padding: 4px 16px;
				border-radius: 40px;
				color: $white;
				background: $blue;
				width: max-content;
			}
			.position-work {
				font-size: 20px;
				line-height: 140%;
			}
			.h4 {
				color: $blue;
			}
		}
	}
	.doctors-list {
		row-gap: 25px;
		@include md-max {
			row-gap: 40px;
		}
	}
	.doctors--nav {
		.category {
			row-gap: 15px;
			.btn {
				font-size: 24px;
				font-weight: 600;
				line-height: 120%;
				@include md-max {
					font-size: 22px;
					padding-left: 24px;
					padding-right: 24px;
					width: 100%;
				}
			}
		}
		.field .select2-container .select2-selection {
			@include md-max {
				padding-left: 24px;
				padding-right: 24px;
			}
		}
	}
}

.offices--item {
	&:hover {
		.inner {
			.wrap-img {
				img {
					scale: 1.25;
				}
			}
		}
	}
	.inner {
		display: block;
		padding: 15px;
		border-radius: 40px;
		background: $white;
		.contacts & {
			border-radius: 0px 0px 40px 40px;
		}
		.wrap-img {
			border-radius: 24px;
			height: 270px;
			overflow: hidden;
			position: relative;
			.contacts & {
				@include lg-max {
					height: 220px;
				}
				@include sm-max {
					height: 180px;
				}
			}
			.city-label {
				position: absolute;
				background: #edeef1;
				padding: 4px 8px;
				border-radius: 8px;
				top: 16px;
				left: 16px;
				font-size: 18px;
				font-weight: 500;
				line-height: 140%;
				display: flex;
				align-items: center;
				gap: 8px;
				&::before {
					content: "";
					display: block;
					width: 24px;
					height: 24px;
					background: url(../img/icons/icons.svg#i-map-pin) 50% 50% no-repeat;
					background-size: 100%;
				}
				.contacts & {
					color: $blue;
					&::before {
						filter: brightness(0) saturate(100%) invert(63%) sepia(100%) saturate(1319%) hue-rotate(167deg)
							brightness(88%) contrast(87%);
					}
				}
			}
			img {
				@include transition(all 0.3s ease 0s);
			}
		}
		.city-pin,
		.email,
		.phone {
			font-weight: 500;
			display: flex;
			gap: 8px;
			&::before {
				content: "";
				display: block;
				width: 20px;
				min-width: 20px;
				height: 20px;
				@include transition(all 0.3s ease 0s);
			}
			.contacts & {
				color: $grey;
				&::before {
					filter: brightness(0) saturate(100%) invert(59%) sepia(15%) saturate(414%) hue-rotate(179deg)
						brightness(89%) contrast(88%);
				}
				a {
					color: $grey;
				}
			}
		}
		.city-pin {
			&::before {
				background: url(../img/icons/icons.svg#i-map-pin) 50% 50% no-repeat;
				background-size: 100%;
			}
		}
		.email {
			&::before {
				background: url(../img/icons/icons.svg#i-email) 50% 50% no-repeat;
				background-size: 100%;
			}
		}
		.phone {
			&::before {
				background: url(../img/icons/icons.svg#i-phone) 50% 50% no-repeat;
				background-size: 100%;
			}
		}
		.phone,
		.email {
			&:hover {
				&::before {
					filter: brightness(0) saturate(100%) invert(63%) sepia(100%) saturate(1319%) hue-rotate(167deg)
						brightness(88%) contrast(87%);
				}
				a {
					color: $blue;
				}
			}
		}
	}
	.buttons {
		row-gap: 15px;
	}
	.contacts & {
		.map {
			height: 100%;
			width: 100%;
			min-height: 380px;
			@include lg-max {
				min-height: 260px;
			}
			@include sm-max {
				min-height: 220px;
			}
		}
	}
}

.section-top-reviews {
	.btn {
		@include md-max {
			width: 100%;
		}
	}
}
.reviews {
	.reviews--item {
		.inner {
			display: block;
			padding: 80px 32px 32px 32px;
			border-radius: 40px;
			background: $white;
			position: relative;
			@include md-max {
				padding: 80px 16px 32px 16px;
			}
			.wrap-img {
				border: 6px solid rgb(255, 255, 255);
				border-radius: 50%;
				overflow: hidden;
				width: 113px;
				height: 113px;
				position: absolute;
				top: -56.5px;
				left: 32px;
				@include md-max {
					left: 16px;
				}
			}
			.reviews--content {
				color: $grey;
				padding-right: 25px;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;
				height: 125px;
				font-weight: 500;
				@include md-max {
					height: 200px;
				}
				&::-webkit-scrollbar {
					width: 8px;
					height: 8px;
					background-color: #f4f4f4;
					border-radius: 24px;
				}
				&::-webkit-scrollbar-thumb {
					background-color: $blue;
					border-radius: 24px;
				}
			}
		}
	}
	.reviews-list {
		row-gap: 40px;
	}
}

.partners {
	.partners--swiper {
		.swiper-wrapper {
			transition-timing-function: linear;
			.swiper-slide {
				.content {
					width: 100%;
					height: 120px;
					border-radius: 32px;
					background: $white;
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 10px;
					@include md-max {
						border-radius: 24px;
					}
					.wrap-img {
						height: inherit;
						padding: 10px 0;
						img {
							object-fit: contain;
						}
					}
				}
			}
		}
	}
}

.news {
	.news-list {
		row-gap: 40px;
		@include md-max {
			row-gap: 25px;
		}
	}
	.news--item {
		@include xl-min {
			&:hover {
				.inner {
					.wrap-img {
						img {
							scale: 1.25;
						}
					}
					.h3 {
						color: $blue;
					}
				}
			}
		}
		.inner {
			border-radius: 24px;
			display: block;
			.wrap-img {
				border-radius: 32px;
				height: 360px;
				overflow: hidden;
				position: relative;
				@include md-max {
					border-radius: 24px;
				}
				img {
					@include transition(0.3s ease-out 0s);
				}
			}
			.h3 {
				font-weight: 600;
				@include transition(0.3s ease-out 0s);
			}
			.descrp {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				color: $grey;
			}
		}
	}
}
.date-label {
	position: absolute;
	background: #edeef1;
	color: $black;
	padding: 4px 8px;
	border-radius: 16px;
	top: 16px;
	left: 16px;
	font-size: 18px;
	font-weight: 600;
	line-height: 140%;
	display: flex;
	align-items: center;
	gap: 8px;
	&::before {
		content: "";
		display: block;
		width: 15px;
		height: 15px;
		background: url(../img/icons/icons.svg#i-clock) 50% 50% no-repeat;
		background-size: 100%;
		filter: brightness(0) saturate(100%) invert(63%) sepia(100%) saturate(1319%) hue-rotate(167deg) brightness(88%)
			contrast(87%);
	}
}
.news-head {
	.row-gap {
		row-gap: 40px;
	}
	.field .select2-container .select2-selection .select2-selection__placeholder {
		color: $black;
	}
}
.news-category-results {
	.select2-results__options {
		-webkit-overflow-scrolling: touch;
		&.has-scrollbar {
			margin-right: 10px;
		}
		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			background-color: #f4f4f4;
			border-radius: 24px;
			padding-left: 20px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $blue;
			border-radius: 24px;
		}
	}
}

.about-top {
	.about-top--card {
		row-gap: 25px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: -270px;
			right: -200px;
			display: block;
			width: 900px;
			height: 900px;
			background: url(../img/img-background-3.png) 50% 50% no-repeat;
			background-size: 100%;
			@include md-max {
				content: unset;
			}
		}
		.content {
			border-radius: 32px;
			padding: 17px;
			background: $white;
			min-height: 440px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			row-gap: 40px;
			@include lg-max {
				min-height: 380px;
			}
			@include md-max {
				min-height: 340px;
				row-gap: 15px;
				border-radius: 24px;
			}
			@include sm-max {
				min-height: 270px;
			}
			.i-card {
				width: 96px;
				height: 96px;
				@include md-max {
					width: 60px;
					height: 60px;
				}
			}
		}
	}
}

.procedures {
	font-size: 20px;
	font-weight: 500;
	line-height: 140%;
	padding: 8px;
	ul {
		height: 335px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			background-color: #f4f4f4;
			border-radius: 24px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $blue;
			border-radius: 24px;
		}
		li {
			position: relative;
			padding: 8px 8px 8px 26px;
			color: $blue;
			&::after {
				content: "";
				width: 14px;
				height: 14px;
				border-radius: 50%;
				border: 1.5px solid $blue;
				position: absolute;
				top: 22px;
				left: 0;
				transform: translateY(-50%);
			}
			&::before {
				content: "";
				background: $blue;
				width: 6px;
				height: 6px;
				display: block;
				border-radius: 50%;
				position: absolute;
				top: 22px;
				left: 4px;
				transform: translateY(-50%);
			}
		}
	}
	.btn {
		@include md-max {
			width: 100%;
		}
	}
	.plyr {
		@include md-max {
			height: 360px;
		}
		@include xs-max {
			height: 250px;
		}
	}
}

.certificates {
	.certificates--item {
		.inner {
			display: block;
			padding: 45px 55px;
			border-radius: 32px;
			background: $white;
			@include md-max {
				border-radius: 24px;
			}
			.wrap-img {
				height: 130px;
				overflow: hidden;
				img {
					object-fit: contain;
				}
			}
		}
	}
}

.clinic-gallery {
	.clinic-gallery--wrap {
		height: 100%;
		@include md-max {
			height: auto;
		}
		.wrap-img {
			height: 100%;
			@include md-max {
				height: 380px;
			}
			@include sm-max {
				height: 290px;
			}
		}
	}
	.wrap-img {
		border-radius: 32px;
		overflow: hidden;
		@include xl-min {
			&:hover {
				img {
					scale: 1.25;
				}
			}
		}
		@include md-max {
			border-radius: 24px;
		}
		img {
			@include transition(0.3s ease-out 0s);
		}
	}
	.clinic-gallery--small-wrap {
		row-gap: 25px;
		@include md-max {
			row-gap: 20px;
		}
		@include sm-max {
			row-gap: 15px;
		}
		.wrap-img {
			height: 215px;
			@include sm-max {
				height: 160px;
			}
		}
	}
}

.surgery-top {
	.backdrop {
		position: relative;
		&::before {
			content: "";
			display: block;
			width: 115%;
			height: 210%;
			position: absolute;
			left: -15%;
			top: 0px;
			background: $blue;
			filter: blur(75px);
			border-radius: 30%;
		}
		.content {
			position: relative;
			z-index: 2;
		}
	}
}

.section-top-2 {
	.backdrop {
		position: relative;
		display: flex;
		align-items: end;
		@include lg-max {
			min-height: 400px;
		}
		&::before {
			content: "";
			display: block;
			width: 95%;
			height: 200%;
			position: absolute;
			left: -15%;
			top: -40%;
			background: $blue;
			filter: blur(75px);
			border-radius: 30%;
			@include lg-max {
				width: 85%;
				height: 175%;
				top: 15%;
				filter: blur(125px);
			}
			@include md-max {
				width: 125%;
				left: -40%;
				filter: blur(75px);
			}
		}
		.content {
			position: relative;
			z-index: 2;
		}
	}
}

.media-content {
	&.card-body {
		display: flex;
		flex-direction: column;
		gap: 25px;
		overflow: hidden;
		@media (max-width: 1310px) {
			overflow: visible;
		}
		> .row {
			row-gap: 25px;
			@include md-max {
				row-gap: 20px;
			}
		}
	}
	.media-content--inner {
		@include md-max {
			row-gap: 20px;
		}
	}
	.content-wrap {
		padding: 32px;
		border-radius: 24px;
		background: $white;
		height: 100%;
		@include md-max {
			padding: 24px 16px;
			min-height: auto;
		}
		.section-top & {
			min-height: 440px;
			@include md-max {
				min-height: auto;
			}
		}
		.direction-template & {
			padding: 0;
			@include sm-max {
				padding: 15px;
			}
		}
		.content {
			max-height: 335px;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
			padding-right: 16px;
			font-weight: 500;
			color: $grey;
			@include md-max {
				max-height: 400px;
			}
			.section-top & {
				max-height: 260px;
			}
			.opening-top & {
				max-height: unset;
			}
			&::-webkit-scrollbar {
				width: 8px;
				height: 8px;
				background-color: #f4f4f4;
				border-radius: 24px;
			}
			&::-webkit-scrollbar-thumb {
				background-color: $blue;
				border-radius: 24px;
			}
			p {
				font-size: 20px;
				.section-top & {
					font-size: 18px;
				}
			}
			ul {
				li {
					position: relative;
					padding-left: 20px;
					&:not(:last-child) {
						margin-bottom: 8px;
					}
					&::before {
						content: "";
						position: absolute;
						left: 5px;
						top: 8px;
						width: 4px;
						height: 4px;
						border-radius: 50%;
						background: $grey;
					}
				}
			}
		}
	}
	.wrap-img {
		border-radius: 16px;
		overflow: hidden;
		height: 100%;
		width: 100%;
		position: relative;
		@include md-max {
			height: 270px;
		}
		.direction-template & {
			@include lg-max {
				height: 270px;
			}
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 101%;
			min-height: 101%;
			object-fit: cover;
		}
	}
	.media--swiper {
		.wrap-img {
			height: 230px;
		}
	}
}

.stay-conditions,
.hospital {
	.wrap-img {
		border-radius: 32px;
		overflow: hidden;
		height: 315px;
		@include xl-min {
			&:hover {
				img {
					scale: 1.25;
				}
			}
		}
		@include md-max {
			border-radius: 24px;
		}
		img {
			@include transition(0.3s ease-out 0s);
		}
	}
	.stay-conditions--small-wrap {
		row-gap: 25px;
		.wrap-img {
			height: 145px;
		}
	}
}

.tour {
	.tour-viewer {
		height: 660px;
		overflow: hidden;
		@include md-max {
			height: 420px;
		}
		@include xs-max {
			height: 340px;
		}
	}
}

.any-questions {
	.h2 {
		font-size: 46px;
	}
}

.search {
	background: $white;
	border: 1px solid $white;
	position: relative;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	margin-left: auto;
	cursor: pointer;
	border-radius: 64px;
	height: 58px;
	.input-search {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		input {
			background: unset;
			width: 100%;
			border: unset;
			padding: 16px 32px;
			height: 58px;
			&::placeholder {
				color: $grey;
			}
		}
		.clear-icon {
			display: none;
			cursor: pointer;
		}
	}
	.search-icon {
		position: relative;
		width: 44px;
		height: 44px;
		min-width: 44px;
		margin-right: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			content: "";
			display: block;
			position: relative;
			min-width: inherit;
			width: inherit;
			height: 24px;
			margin-top: 2px;
			z-index: 2;
			background: url(../img/icons/icons.svg#i-search) no-repeat center;
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			width: inherit;
			height: inherit;
			background: $blue;
			border-radius: 50%;
		}
	}
	.results-search {
		position: absolute;
		left: 0;
		top: 31px;
		padding: 4px;
		background: rgb(87, 87, 87);
		color: #fafafa;
		display: none;
		z-index: 7;
		overflow: scroll;
		max-height: 250px;
	}
}

.typical-text {
	.content {
		padding: 32px;
		border-radius: 24px;
		background: $white;
		@include md-max {
			padding: 24px 15px;
		}
		p {
			font-size: 20px;
			font-weight: 500;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.prices-list {
	.item {
		display: grid;
		grid-template-columns: 1fr max-content;
		column-gap: 25px;
		font-size: 18px;
		font-weight: 500;
		line-height: 140%;
		padding: 8px 0;
		border-bottom: 2px solid $blue;
		@include md-max {
			padding: 8px 16px 16px 16px;
		}
		.name {
			padding: 10px 32px 10px 32px;
			@include md-max {
				padding: 10px 0;
			}
		}
		.price {
			padding: 10px 24px 10px 24px;
			@include md-max {
				padding: 10px 0;
			}
		}
	}
	.accordion {
		.card:not(:last-child) {
			margin-bottom: 8px;
		}
		.card-body {
			padding-top: 0;
		}
	}
}

.popup--contacts-offices {
	@include lg-min {
		height: 100%;
	}
	.row-gap {
		row-gap: 40px;
	}
	ul {
		li {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
	.link-phone,
	.offices-address,
	.offices-time,
	.offices-email {
		display: flex;
		align-items: center;
		@include transition(all 0.3s ease 0s);
		&::before {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			position: relative;
			@include transition(all 0.3s ease 0s);
		}
	}
	.link-phone,
	.offices-email {
		&:hover {
			color: $blue;
			&::before {
				filter: brightness(0) saturate(100%) invert(63%) sepia(100%) saturate(1319%) hue-rotate(167deg)
					brightness(88%) contrast(87%);
			}
		}
	}
	.link-phone {
		&::before {
			background: url(../img/icons/icons.svg#i-phone) no-repeat center;
			background-size: contain;
		}
	}
	.offices-address {
		&::before {
			background: url(../img/icons/icons.svg#i-map-pin) no-repeat center;
			background-size: contain;
		}
	}
	.offices-time {
		&::before {
			background: url(../img/icons/icons.svg#i-clock) no-repeat center;
			background-size: contain;
		}
	}
	.offices-email {
		&::before {
			background: url(../img/icons/icons.svg#i-email) no-repeat center;
			background-size: contain;
		}
	}
	.spoiler--contacts {
		@include lg-max {
			transition: height 200ms;
			overflow: hidden;
			max-height: 162px;
		}
	}
}

.contacts {
	.row-gap {
		row-gap: 25px;
		@include md-max {
			row-gap: 40px;
		}
	}
}

.not-found {
	.title {
		font-size: 188px;
		font-weight: 600;
		line-height: 80%;
		@include md-max {
			font-size: 120px;
			line-height: 100%;
		}
	}
	.inner {
		padding: 160px 0;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			width: 900px;
			height: 900px;
			background: url(../img/img-background-5.png) 50% 50% no-repeat;
			background-size: 100%;
			z-index: -1;
			@include md-max {
				width: 840px;
				height: 840px;
				background: url(../img/img-background-5-mobile.png) 50% 50% no-repeat;
				background-size: 100%;
			}
		}
	}
	.btn {
		min-width: 270px;
	}
}

.how-consultation {
	.row-gap {
		row-gap: 25px;
		@include md-max {
			row-gap: 15px;
		}
	}
	.item {
		border-radius: 24px;
		padding: 15px;
		background: $white;
	}
}

.popup--review-thank {
	.i-check {
		svg {
			width: 80px;
			height: 80px;
		}
	}
}

.articles {
	.articles--list {
		@include md-max {
			margin-bottom: 40px;
		}
		.columns {
			column-count: 2;
			-moz-column-count: 2;
			column-gap: 25px;
			@include md-max {
				column-count: 1;
				-moz-column-count: 1;
			}
			.articles--item {
				@supports (-webkit-appearance: none) {
					width: 100%;
					float: left;
					page-break-inside: avoid;
					break-inside: avoid;
				}
			}
		}
		.articles--item {
			padding: 32px;
			border-radius: 24px;
			background: $white;
			color: $grey;
			font-weight: 500;
			display: inline-block;
			@include md-max {
				padding: 15px;
			}
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
		.title {
			font-size: 32px;
			font-weight: 600;
			line-height: 120%;
			color: $blue;
			margin-bottom: 40px;
		}
	}
	.articles-author {
		display: flex;
		align-items: center;
		column-gap: 10px;
		.wrap-img {
			width: 115px;
			min-width: 115px;
			height: 115px;
			border: 6px solid $white;
			border-radius: 50%;
			overflow: hidden;
		}
		.place-work {
			font-size: 18px;
			line-height: 140%;
		}
	}
}

.laboratory-benefits {
	.laboratory-benefits--list {
		row-gap: 25px;
		.item {
			display: flex;
			align-items: center;
			column-gap: 15px;
			.wrap-svg {
				border-radius: 16px;
				background: $blue;
				padding: 12px;
			}
			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
}

.our-laboratories {
	.row-gap {
		row-gap: 25px;
	}
	.item {
		padding: 24px;
		border-radius: 40px;
		border: 2px solid $blue;
		background: $white;
		font-weight: 500;
		li {
			display: flex;
			align-items: center;
			column-gap: 5px;
			@include xs-max {
				flex-direction: column;
				align-items: start;
				row-gap: 8px;
			}
			&:not(:last-child) {
				margin-bottom: 8px;
				@include md-max {
					margin-bottom: 16px;
				}
			}
		}
	}
	.head-phone,
	.head-address,
	.head-time,
	.head-email {
		display: flex;
		align-items: center;
		min-width: 200px;
		@include transition(all 0.3s ease 0s);
		&::before {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			position: relative;
			@include transition(all 0.3s ease 0s);
		}
	}
	.link-phone,
	.offices-email {
		&:hover {
			color: $blue;
			&::before {
				filter: brightness(0) saturate(100%) invert(63%) sepia(100%) saturate(1319%) hue-rotate(167deg)
					brightness(88%) contrast(87%);
			}
		}
	}
	.head-phone {
		&::before {
			background: url(../img/icons/icons.svg#i-phone) no-repeat center;
			background-size: contain;
		}
	}
	.head-address {
		&::before {
			background: url(../img/icons/icons.svg#i-map-pin) no-repeat center;
			background-size: contain;
		}
	}
	.head-time {
		&::before {
			background: url(../img/icons/icons.svg#i-clock) no-repeat center;
			background-size: contain;
		}
	}
	.head-email {
		&::before {
			background: url(../img/icons/icons.svg#i-email) no-repeat center;
			background-size: contain;
		}
	}
}

.laboratory-map {
	height: 600px;
}

.section-directions {
	.section-directions--list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 10px;
		row-gap: 25px;
		@include sm-max {
			column-gap: 25px;
		}
		.item {
			width: calc((100% - 40px) / 5);
			display: flex;
			justify-content: center;
			@include xl-max {
				width: calc((100% - 30px) / 4);
			}
			@include md-max {
				width: calc((100% - 20px) / 3);
			}
			@include sm-max {
				width: calc((100% - 25px) / 2);
			}
			&:hover {
				.item--body {
					background: $blue;
					.name {
						color: $white;
					}
					svg {
						filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(140deg)
							brightness(109%) contrast(101%);
					}
				}
			}
			.item--body {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				width: 240px;
				height: 240px;
				border-radius: 50%;
				background: $white;
				padding: 20px;
				@include transition(0.3s ease-out 0s);
				@include md-max {
					width: 190px;
					height: 190px;
				}
				.name {
					color: $blue;
					@include transition(0.3s ease-out 0s);
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				svg {
					width: 40px;
					height: 40px;
				}
			}
		}
	}
}

.section-video {
	.video-wrap {
		height: 660px;
		@include md-max {
			height: 420px;
		}
		@include sm-max {
			height: 300px;
		}
	}
	.plyr--video {
		border-radius: 0;
	}
}

.category-directions {
	height: inherit;
	.category-directions--list {
		-webkit-overflow-scrolling: touch;
		@include sm-max {
			height: 420px;
			overflow-y: auto;
			overflow-x: hidden;
			width: calc(100% - 1px);
		}
		> .row {
			row-gap: 25px;
			@include md-max {
				row-gap: 20px;
			}
			@include xs-max {
				row-gap: 15px;
			}
		}
		.offices-direction & {
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			width: calc(100% - 1px);
			padding-right: 10px;
		}
		.category-direction-column-item & {
			max-height: calc(170px * 3 + 25px * 2);
			@include md-max {
				max-height: calc(103px * 5 + 20px * 3);
			}
			@include xs-max {
				max-height: calc(103px * 5 + 15px * 4);
			}
		}
		.our-directions & {
			max-height: calc(85px * 5 + 25px * 4);
			@include md-max {
				max-height: calc(85px * 5 + 20px * 4);
			}
			@include xs-max {
				max-height: calc(85px * 5 + 15px * 4);
			}
		}
		.lvl-end & {
			height: auto;
		}
		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			background-color: #f4f4f4;
			border-radius: 24px;
			.our-directions & {
				background-color: #73c4fd;
			}
		}
		&::-webkit-scrollbar-thumb {
			background-color: #73c4fd;
			border-radius: 24px;
			.our-directions & {
				background-color: #f4f4f4;
			}
		}
		.directions-item {
			height: 100%;
			.offices-direction & {
				min-height: 85px;
			}
			.category-direction-column-item & {
				min-height: 170px;
				@include md-max {
					min-height: 103px;
				}
			}
			.content {
				height: 100%;
				span {
					color: $black;
					word-break: break-word;
					hyphens: auto;
					@include transition(0.3s ease-out 0s);
					.category-direction-column-item & {
						color: $blue;
					}
				}
				.link {
					display: block;
					line-height: 120%;
					font-weight: 600;
					padding: 12px 24px 12px 24px;
					border-radius: 32px;
					height: 100%;
					display: flex;
					gap: 25px;
					@include transition(0.3s ease-out 0s);
					.offices-direction & {
						font-size: 20px;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						background: $light-blue;
					}
					.category-direction-column-item & {
						flex-direction: column-reverse;
						align-items: start;
						justify-content: center;
						font-size: 24px;
						background: $white;
						@include md-max {
							row-gap: 10px;
						}
						&:hover {
							background: $blue;
							span {
								color: $white;
							}
						}
					}
					.our-directions & {
						background: $white;
						&:hover {
							background: $light-blue;
						}
					}
					@include md-max {
						border-radius: 24px;
					}
					@include sm-max {
						padding: 16px;
						min-height: auto;
					}
					&:hover {
						.i-link {
							border: 2px solid $blue;
							background: $white;
							&::before {
								filter: brightness(0) saturate(100%) invert(63%) sepia(100%) saturate(1319%) hue-rotate(167deg)
									brightness(88%) contrast(87%);
							}
						}
					}
					.i-link {
						display: block;
						width: 32px;
						min-width: 32px;
						height: 32px;
						background: $blue;
						border-radius: 8px;
						padding: 4px;
						position: relative;
						border: 2px solid transparent;
						@include transition(0.3s ease-out 0s);
						&::before {
							content: "";
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							display: block;
							width: 24px;
							height: 24px;
							background: url(../img/icons/icons.svg#i-arrow-right) 50% 50% no-repeat;
							background-size: 100%;
						}
					}
				}
			}
		}
	}
}

.section-doctor {
	.wrap-img {
		position: relative;
		height: 100%;
		overflow: hidden;
		border-radius: 50px;
		@include md-max {
			height: 480px;
		}
	}
}
.doctor-descrp {
	padding: 32px;
	border-radius: 24px;
	background: $white;
	.experience-quantity {
		font-size: 14px;
		font-weight: 500;
		line-height: 140%;
		padding: 4px 16px;
		border-radius: 40px;
		color: $blue;
		border: 1px solid $blue;
		width: max-content;
	}
	.content {
		max-height: 350px;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		padding-right: 16px;
		font-weight: 500;
		color: $grey;
		@include md-max {
			max-height: 400px;
		}
		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			background-color: #f4f4f4;
			border-radius: 24px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $blue;
			border-radius: 24px;
		}
	}
	.doctor-directions-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 5px;
		.item {
			border-radius: 64px;
			padding: 8px 16px;
			background: #d7e6ff;
			color: $blue;
			white-space: nowrap;
		}
	}
	.btn {
		@include md-max {
			width: 100%;
		}
	}
}

.section-check-up {
	.row-gap {
		row-gap: 25px;
	}
	.check-up--list {
		.check-up--item {
			min-height: 425px;
			@include md-max {
				min-height: 585px;
				height: 100%;
			}
			&.active {
				.inner {
					position: absolute;
					height: auto;
					background: $white;
					color: $black;
					z-index: 1055;
					border: 1px solid $light-grey;
					@include md-max {
						position: relative;
					}
					.content {
						color: $blue;
						&::before {
							content: unset;
						}
					}
					.content-more {
						grid-template-rows: 1fr;
					}
					.buttons {
						@include md-max {
							&::before {
								content: unset;
							}
						}
					}
				}
				.btn-reception {
					&:not(:disabled) {
						color: $white;
						background: $blue;
						border: 1px solid $blue;
					}
				}
				.btn-read-more--check-up {
					&:not(:disabled) {
						color: $blue;
						background: a$white;
						border: 1px solid $blue;
					}
				}
				.wrap-img {
					display: none;
				}
			}
			.inner {
				position: absolute;
				padding: 24px;
				width: 100%;
				height: 100%;
				border-radius: 40px;
				overflow: hidden;
				color: $white;
				background: transparent;
				border: 1px solid transparent;
				@include transition(0.3s ease-out 0s);
				@include md-max {
					position: relative;
				}
				.content {
					position: relative;
					&::before {
						content: "";
						display: block;
						width: 100%;
						height: 275%;
						position: absolute;
						left: -15%;
						top: -120%;
						background: $blue;
						filter: blur(45px);
						border-radius: 30%;
						@include transition(0.3s ease-out 0s);
					}
				}
				.descrp {
					position: relative;
					display: inline-block;
					z-index: 2;
					span {
						display: inherit;
					}
				}
				.heading {
					position: relative;
					z-index: 2;
				}
				.content-more {
					display: grid;
					grid-template-rows: 0fr;
					transition: grid-template-rows 0.3s ease-out;
					.content-more--inner {
						overflow: hidden;
						.item ul li {
							color: $grey;
							position: relative;
							padding-left: 20px;
							&:not(:last-child) {
								margin-bottom: 8px;
							}
							&::before {
								content: "";
								position: absolute;
								left: 5px;
								top: 8px;
								width: 4px;
								height: 4px;
								border-radius: 50%;
								background: $grey;
							}
						}
						.content-more--txt {
							max-height: 200px;
							overflow-y: auto;
							overflow-x: hidden;
							-webkit-overflow-scrolling: touch;
							padding-right: 16px;
							font-weight: 500;
							color: $grey;
							&::-webkit-scrollbar {
								width: 8px;
								height: 8px;
								background-color: #f4f4f4;
								border-radius: 24px;
							}
							&::-webkit-scrollbar-thumb {
								background-color: $blue;
								border-radius: 24px;
							}
						}
					}
				}
				.buttons {
					row-gap: 10px;
					@include md-max {
						position: relative;
					}
					&::before {
						@include md-max {
							content: "";
							display: block;
							width: 120%;
							height: 275%;
							position: absolute;
							left: -5%;
							top: -70%;
							background: $blue;
							filter: blur(65px);
							border-radius: 30%;
							@include transition(0.3s ease-out 0s);
						}
						@include xs-max {
							width: 140%;
							left: -20%;
							top: -40%;
							filter: blur(35px);
						}
					}
				}
			}
			.btn-reception {
				&:not(:disabled) {
					color: $blue;
					background: $white;
					border: 1px solid $white;
					&:hover {
						border: 1px solid #008cc7;
						background: #008cc7;
						color: $white;
					}
					&:active,
					&:focus {
						color: $white;
					}
					&:active {
						border: 1px solid #0f68ba;
						background: #0f68ba;
					}
					&:focus {
						border: 1px solid #0f68ba;
						background: #0f68ba;
						color: $white;
					}
				}
				&:disabled {
					border-color: $light-grey;
					background: $light-grey;
					color: $grey;
					opacity: 1;
					cursor: not-allowed;
				}
			}
			.btn-read-more--check-up {
				&:not(:disabled) {
					color: $white;
					border: 1px solid $white;
					background: transparent;
					&:hover {
						border: 1px solid #008cc7;
						background: #008cc7;
						color: $white;
					}
					&:active,
					&:focus {
						color: $white;
					}
					&:active {
						border: 1px solid #0f68ba;
						background: #0f68ba;
					}
					&:focus {
						border: 1px solid #0f68ba;
						background: #0f68ba;
						color: $white;
					}
				}
				&:disabled {
					border-color: $light-grey;
					background: $light-grey;
					color: $grey;
					opacity: 1;
					cursor: not-allowed;
				}
			}
		}
	}
	.bg-down {
		min-width: 135%;
	}
	.spoiler-list {
		transition: height 200ms;
		overflow: hidden;
		max-height: 162px;
	}
}

.partners-top {
	.wrap-img {
		img {
			object-position: 80%;
		}
	}
}
.partners-contacts {
	ul {
		li {
			font-size: 18px;
			line-height: 140%;
			padding: 4px 8px;
		}
	}
	.link-phone {
		display: flex;
		align-items: center;
		@include transition(all 0.3s ease 0s);
		color: $white;
		&:hover {
			color: $black;
			&::before {
				filter: unset;
			}
		}
		&::before {
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			margin-right: 5px;
			position: relative;
			background: url(../img/icons/icons.svg#i-phone) no-repeat center;
			background-size: contain;
			filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(140deg) brightness(109%)
				contrast(101%);
			@include transition(all 0.3s ease 0s);
		}
	}
	.contact-details {
		padding: 0;
		border: unset;
		background: unset;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		gap: 5px;
		@include transition(all 0.3s ease 0s);
		color: $white;
		&:hover {
			color: $black;
			&::before,
			&::after {
				filter: unset;
			}
		}
		&::before,
		&::after {
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			position: relative;
			filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(140deg) brightness(109%)
				contrast(101%);
			@include transition(all 0.3s ease 0s);
		}
		&::before {
			background: url(../img/icons/icons.svg#i-map-pin) no-repeat center;
			background-size: contain;
			order: 2;
		}
		&::after {
			background: url(../img/icons/icons.svg#i-clock) no-repeat center;
			background-size: contain;
			order: 1;
		}
	}
	.wrap-img {
		max-width: 260px;
	}
}

.our-opening {
	.wrap-img {
		max-width: 220px;
		max-height: 115px;
		margin: 0 auto;
		@include md-max {
			margin: unset;
		}
	}
	.card-body {
		.btn {
			@include sm-max {
				width: 100%;
			}
		}
	}
}

.doctor-features {
	.content {
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		padding-right: 5px;
		margin-right: 0px;
		@include sm-max {
			max-height: 420px;
		}
		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			background-color: #f4f4f4;
			border-radius: 24px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #73c4fd;
			border-radius: 24px;
		}
		ul {
			li {
				color: $grey;
				position: relative;
				padding-left: 20px;
				&:not(:last-child) {
					margin-bottom: 8px;
				}
				&::before {
					content: "";
					position: absolute;
					left: 5px;
					top: 8px;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background: $grey;
				}
			}
		}
	}
	.wrap-img {
		@include md-max {
			height: 400px;
		}
		@include sm-max {
			height: 300px;
		}
		img {
			object-position: right;
			@include md-max {
				object-position: center;
			}
		}
	}
}
.doctor-features-nav {
	.nav-item {
		width: 100%;
		.nav-link {
			width: 100%;
			border-radius: 8px;
			padding: 4px 15px;
			color: $grey;
			&:hover {
				background: $light-blue;
				color: $blue;
			}
		}
	}
}

.direction-template {
	.direction-template--inner {
		@include md-min {
			background: $white;
		}
	}
	.btn {
		@include md-max {
			width: 100%;
		}
	}
	.direction-template--content {
		ul {
			@include xl-min {
				column-count: 2;
				column-gap: 25px;
			}
			@include md-max {
				column-count: 2;
				column-gap: 25px;
			}
			@include sm-max {
				column-count: unset;
			}
			li {
				color: $grey;
				position: relative;
				padding-left: 20px;
				&:not(:last-child) {
					margin-bottom: 8px;
				}
				&::before {
					content: "";
					position: absolute;
					left: 5px;
					top: 8px;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background: $grey;
				}
			}
		}
	}
	.template-shares--swiper {
		overflow-x: hidden;
		position: relative;
		.shares--item {
			@include md-max {
				height: 100%;
			}
			@include sm-max {
				height: auto;
			}
			.inner {
				padding: 40px 30px;
				border-radius: 24px;
				display: block;
				background: $blue;
				@include lg-max {
					padding: 15px;
				}
				@include md-max {
					height: 100%;
				}
				@include sm-max {
					height: auto;
				}
				.wrap-img {
					border-radius: 16px;
					height: 335px;
					overflow: hidden;
					img {
						@include transition(0.3s ease-out 0s);
					}
				}
				.underline {
					text-decoration: underline;
				}
			}
		}
		.swiper-buttons {
			position: absolute;
			z-index: 2;
			top: 190px;
			width: 100%;
			justify-content: space-between;
			padding: 0 40px;
		}
	}
	.wrap-mob {
		@include sm-max {
			border-radius: 24px;
			background: $white;
			padding: 15px;
		}
	}
}

.offices-top {
	.offices--swiper--wrapper {
		@include xl-max {
			width: calc(100% - 120px);
			margin: 0 auto;
		}
	}
	.offices-anchor--swiper {
		overflow: hidden;
		.swiper-wrapper {
			z-index: 3;
		}
		.city-pin {
			font-weight: 600;
			display: flex;
			gap: 8px;
			color: $grey;
			border: 2px solid $grey;
			border-radius: 24px;
			padding: 16px 8px;
			background: transparent;
			@include transition(all 0.3s ease 0s);
			&::before {
				content: "";
				display: block;
				width: 20px;
				min-width: 20px;
				height: 20px;
				filter: brightness(0) saturate(100%) invert(59%) sepia(15%) saturate(414%) hue-rotate(179deg)
					brightness(89%) contrast(88%);
				@include transition(all 0.3s ease 0s);
			}
			&:hover {
				border: 2px solid $blue;
				background: $blue;
				color: $white;
				&::before {
					filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(140deg)
						brightness(109%) contrast(101%);
				}
			}
		}
		.city-pin {
			&::before {
				background: url(../img/icons/icons.svg#i-map-pin) 50% 50% no-repeat;
				background-size: 100%;
			}
		}
		.swiper-buttons {
			position: absolute;
			z-index: 2;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			justify-content: space-between;
			.button-slider-prev {
				margin-left: -60px;
			}
			.button-slider-next {
				margin-right: -60px;
			}
		}
	}
}
.offices-direction {
	.offices-direction--contact {
		.city-label {
			position: absolute;
			background: #edeef1;
			padding: 4px 8px;
			border-radius: 8px;
			top: 16px;
			left: 16px;
			font-size: 18px;
			font-weight: 500;
			line-height: 140%;
			display: flex;
			align-items: center;
			gap: 8px;
			&::before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				background: url(../img/icons/icons.svg#i-map-pin) 50% 50% no-repeat;
				background-size: 100%;
			}
			.contacts & {
				color: $blue;
				&::before {
					filter: brightness(0) saturate(100%) invert(63%) sepia(100%) saturate(1319%) hue-rotate(167deg)
						brightness(88%) contrast(87%);
				}
			}
		}
		img {
			@include transition(all 0.3s ease 0s);
		}
	}
	.city-pin,
	.email,
	.phone {
		font-weight: 500;
		display: flex;
		gap: 8px;
		&::before {
			content: "";
			display: block;
			width: 20px;
			min-width: 20px;
			height: 20px;
			@include transition(all 0.3s ease 0s);
		}
	}
	.city-pin {
		&::before {
			background: url(../img/icons/icons.svg#i-map-pin) 50% 50% no-repeat;
			background-size: 100%;
		}
	}
	.email {
		&::before {
			background: url(../img/icons/icons.svg#i-email) 50% 50% no-repeat;
			background-size: 100%;
		}
	}
	.phone {
		&::before {
			background: url(../img/icons/icons.svg#i-phone) 50% 50% no-repeat;
			background-size: 100%;
		}
	}
	.phone,
	.email {
		&:hover {
			&::before {
				filter: brightness(0) saturate(100%) invert(63%) sepia(100%) saturate(1319%) hue-rotate(167deg)
					brightness(88%) contrast(87%);
			}
			a {
				color: $blue;
			}
		}
	}
	.offices-direction--swiper {
		height: 385px;
		border-radius: 32px;
		overflow: hidden;
		.wrap-img {
			height: 100%;
			border-radius: 32px;
		}
		.swiper-buttons {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			justify-content: space-between;
			z-index: 2;
			.button-slider-prev {
				margin-left: 15px;
				transform: rotate(90deg);
			}
			.button-slider-next {
				margin-right: 15px;
				transform: rotate(-90deg);
			}
			.button-slider-prev,
			.button-slider-next {
				background: rgba(0, 0, 0, 0.2);
				svg {
					filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(140deg)
						brightness(109%) contrast(101%);
				}
			}
		}
	}
	.offices-direction-thumbs--swiper {
		width: (72px * 3 + 8px * 2);
		overflow: hidden;
		position: absolute;
		bottom: 20px;
		left: 20px;
		.swiper-slide {
			height: 72px;
			width: 72px;
		}
		.wrap-img {
			height: inherit;
			width: inherit;
			border-radius: 8px;
			overflow: hidden;
		}
	}
}

.btn-nav-direction {
	padding: 7px 0;
	color: $blue;
	display: flex;
	align-items: center;
	justify-content: end;
	column-gap: 8px;
	@include transition(all 0.3s ease 0s);
	.our-directions & {
		color: $white;
	}
	&:hover {
		color: $black;
		.icon {
			&::before {
				filter: brightness(0) saturate(100%) invert(4%) sepia(4%) saturate(593%) hue-rotate(314deg) brightness(101%)
					contrast(95%);
				.our-directions & {
					filter: brightness(0) saturate(100%) invert(4%) sepia(4%) saturate(593%) hue-rotate(314deg)
						brightness(101%) contrast(95%);
				}
			}
		}
	}
	.icon {
		&::before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			background: url(../img/icons/icons.svg#i-arrow-btn) 50% 50% no-repeat;
			background-size: 100%;
			transform: rotate(90deg);
			filter: unset;
			@include transition(all 0.3s ease 0s);
			.our-directions & {
				filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(140deg) brightness(109%)
					contrast(101%);
			}
		}
	}
}

.offices-direction {
	.offices-direction--descrp {
		.btn {
			width: max-content;
			@include md-max {
				width: 100%;
			}
		}
	}
	.offices-direction--body {
		min-width: 0;
	}
	.push-menu {
		position: relative;
		width: 100%;
		overflow: hidden;
		.push-menu--nav {
			> .push-menu--lvl {
				@include transition(0.3s ease-out 0s);
			}
			.nav-toggle {
				&.back-visible {
					.btn-nav-forward {
						display: none;
					}
					.btn-nav-back {
						display: flex;
					}
				}
			}
			.btn-nav-back {
				display: none;
			}
			.push-menu--lvl {
				list-style: none;
				padding: 0;
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				.push-menu--lvl {
					display: none;
					left: 100%;
					padding-top: 0;
					padding-bottom: 0;
				}
			}
			.item {
				height: 100%;
				@include md-max {
					padding-right: 0;
				}
				.content {
					padding-right: 0;
				}
				&.main-title {
					font-size: 20px;
				}
				&:not(:last-child) {
					margin-bottom: 8px;
				}
				&.nav-dropdown-open > .push-menu--lvl {
					display: block;
				}
			}
		}
	}
}
